.main-section {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 60px 100px 60px;

  &__heading {
    grid-column: span 2;
    margin: 0.25em 0 1.25em 0;
    color: #1e3850;
    font-size: 2.3em;
    font-weight: 600;
    line-height: 2.313em;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .main-section {
    grid-template-columns: 1fr;

    &__heading {
      grid-column: span 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .main-section {
    gap: 1.3rem;
    padding: 10px 20px 60px 20px;

    &__heading {
      margin: 0.1em 0 0.4em 0;
      font-size: 2em;
      line-height: 1em;
    }
  }
}

@media screen and (max-width: 479px) {
  .main-section {
    gap: 1.1rem;
    padding: 8px 18px 58px 18px;

    &__heading {
      margin: 0.1em 0 0.3em 0;
      font-size: 1.8em;
    }
  }
}

@media screen and (max-width: 330px) {
  .main-section {
    gap: 0.9rem;
    padding: 6px 8px 56px 8px;
  }
}
