.btn-servicii {
  display: inline-block;
  padding: 0.688em 3em;
  font-family: Roboto, sans-serif;
  font-size: 1.4em;
  line-height: 1.313em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: white;
  background-color: #2f489c;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 3px 4px 5px -3px #000;
  box-shadow: 3px 4px 5px -3px #000;
  min-width: 200px;
  &:hover {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: rgba(77, 104, 193, 0.61);
    -webkit-box-shadow: 5px 6px 15px -6px #000;
    box-shadow: 5px 6px 15px -6px #000;
    cursor: pointer;
    color: black;
  }
}

.btn-servicii-link {
  color: white;
}
