.btn {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1.063em;
  line-height: 1.25em;
  font-weight: 500;
  padding: 0.688em 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 3px 4px 5px -3px #000;
  min-width: 11.8em;
  &:hover {
    transition: all 0.3s ease-out;
    border-radius: 5px;
    background-color: rgba(42, 94, 145, 0.15);
    box-shadow: 5px 6px 15px -6px #000;
  }
}

.btn img {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .btn {
    display: none;
  }
}
