.main-row {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
  justify-items: end;
  &:nth-of-type(even) {
    grid-template-columns: 1.5fr 0.5fr;
    justify-items: start;
    p {
      order: -1;
    }
  }
  &__img-container {
    display: flex;
    padding: 0 2em 0 0.4em;
  }
  p {
    color: rgba(10, 32, 53, 0.82);
    font-weight: 400;
    font-size: 1.07em;
    line-height: 1.35em;
    max-width: 35vw;
    padding: 0 2em 0 0.4em;
    border-left: solid 2px rgba(73, 156, 47, 0.12);
  }
}
