.main-row {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  img {
    display: flex;
    max-width: 100%;
  }

  &__text {
    max-width: 75%;
  }
}

.main-row:nth-child(4n + 1) {
  grid-row-start: 3;
}

@media screen and (max-width: 991px) {
  .main-row:nth-child(4n + 1) {
    grid-row-start: 5;
  }
  .main-row:nth-child(2n + 4) {
    grid-row-start: 4;
  }
}

@media screen and (max-width: 767px) {
  .main-row {
    &__text {
      max-width: 85%;
    }
  }
}

@media screen and (max-width: 330px) {
  .main-row {
    &__text {
      max-width: 100%;
    }
  }
}
